<div class="service">
  <h2>会員登録でもっと便利に</h2>
  <div class="service_container">
    <ul class="row">
      <div class="col-md-4">
        <li>
          <i class="fas fa-upload"></i>
          <div class="title">投稿</div>
          自分の演奏を投稿できます。
        </li>
      </div>
      <div class="col-md-4">
        <li>
          <i class="fas fa-heart"></i>
          <div class="title">お気に入り登録</div>
          お気に入り登録できます。<br>
          お気に入り登録した投稿は一覧で表示します。
        </li>
      </div>
      <div class="col-md-4">
        <li>
          <i class="fas fa-comments"></i>
          <div class="title">コメント</div>
          投稿にコメントができ、ユーザー間でコミュニケーションをとることができます。
        </li>
      </div>
      <div class="col-md-4">
        <li>
          <i class="fas fa-edit"></i>
          <div class="title">メモ</div>
          投稿に自分専用のメモを残すことができます。
          メモは自由に編集・削除できます。
        </li>
      </div>
      <div class="col-md-4">
        <li>
          <i class="fas fa-history"></i>
          <div class="title">履歴</div>
          過去に再生した投稿を一覧で表示します。
        </li>
      </div>
      <div class="col-md-4">
        <li>
          <i class="fas fa-user"></i>
          <div class="title">フォロー</div>
          気になる人をフォローできます。<br>
          フォローしている人の投稿は通知でお知らせします。
        </li>
      </div>
    </ul>
  </div>
</div>