<div class="about">
  <div class="top">
    <h1>Enjoy Backmusic</h1>
    <%= image_tag("logo2.png", alt:"ロゴ画像") %>
    <p>きらびやかなメロディラインを陰で支える必要不可欠な存在</p>
    <p>そんな目立つことのない伴奏・副旋律に特化した音声投稿サイト</p>
  </div>
  <div class="worry">
    <h2>こんなお悩みを解決します</h2>
    <div class="worry_container">
      <%= image_tag("worry.jpg", alt:"困っている人") %>
      <ul>
        <li>伴奏つきの演奏は楽しいけど、伴奏者を探して依頼してと何かとめんどう。もっと気楽に色々な曲を伴奏付きで演奏したい・・・</li>
        <li>練習するときに市販の音源を聞いても肝心の自分のパートが聞こえない。リズムや音程が分かれば練習がはかどるのに・・・</li>
        <li>さらに・・・　あこがれの演奏家との演奏もできるかも！？</li>
      </ul>
    </div>
  </div>
  <div class="service">
    <h2>会員登録でもっと便利に</h2>
    <div class="service_container">
      <ul class="row">
        <div class="col-md-4">
          <li>
            <i class="fas fa-upload"></i>
            <div class="title">投稿</div>
            自分の演奏を投稿できます。
          </li>
        </div>
        <div class="col-md-4">
          <li>
            <i class="fas fa-heart"></i>
            <div class="title">お気に入り登録</div>
            お気に入り登録できます。<br>
            お気に入り登録した投稿は一覧で表示します。
          </li>
        </div>
        <div class="col-md-4">
          <li>
            <i class="fas fa-comments"></i>
            <div class="title">コメント</div>
            投稿にコメントができ、ユーザー間でコミュニケーションをとることができます。
          </li>
        </div>
        <div class="col-md-4">
          <li>
            <i class="fas fa-edit"></i>
            <div class="title">メモ</div>
            投稿に自分専用のメモを残すことができます。
            メモは自由に編集・削除できます。
          </li>
        </div>
        <div class="col-md-4">
          <li>
            <i class="fas fa-history"></i>
            <div class="title">履歴</div>
            過去に再生した投稿を一覧で表示します。
          </li>
        </div>
        <div class="col-md-4">
          <li>
            <i class="fas fa-user"></i>
            <div class="title">フォロー</div>
            気になる人をフォローできます。<br>
            フォローしている人の投稿は通知でお知らせします。
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
