<div class="container">
  <% @musicposts.each_with_index do |musicpost, index| %>
    <div class="musicpost">
      <%= musicpost.user.name %>
      <%= musicpost.title %>
      <% musicpost.taxons.each do |taxon| %>
        <%= taxon.name %>
      <% end %>
        <%= button_to '再生', '/play', { method: :get, remote: true, params: { select_musicpost_id: musicpost.id }, class: "select_musicpost_button" } %>
    </div>
  <% end %>
</div>
