<div class="container">
  <% @musicposts.each_with_index do |musicpost, index| %>
    <div class="musicpost">
      <%= musicpost.user.name %>
      <%= musicpost.title %>
      <% musicpost.taxons.each do |taxon| %>
        <%= taxon.name %>
      <% end %>
      <%= render 'shared/play_pause', musicpost: musicpost %>
    </div>
  <% end %>
</div>
