$("#favorite_form_<%= @musicpost.id %>").html("<%= escape_javascript(render 'musicposts/favorite', musicpost: @musicpost) %>");
$(".favorite_count_<%= @musicpost.id %>").html('<span><%= @musicpost.favorites.count %></span>');
