<div id="favorite_form_<%= musicpost.id %>">
  <% if current_user.favorite?(musicpost) %>
    <%= render 'musicposts/unfavorite', musicpost: musicpost %>
  <% else %>
    <%= render 'musicposts/favorite', musicpost: musicpost %>
  <% end %>
</div>