<% provide(:title, @user.name) %>
<%= render 'layouts/user_tab', user: @user %>
<div class="row user_main">
  <div class="col-md-12">
    <%= render 'shared/musicposts_index', musicposts: @musicposts, user_page: true %>
  </div>
  <%= paginate @musicposts %>
</div>
