<div class="row user_information">
  <div class="col-md-4">
    <h2><%= @user.name %></h2>
    <h5><%= @user.self_introduction %></h5>
  </div>
  <div class="col-md-4">
    <% if @user == current_user %>
      <button type="button" class="user_edit_btn btn btn-primary" data-toggle="modal" data-target="#user_edit">
        ユーザー情報編集
      </button>
      <div class="user_edit_modal">
        <%= render 'user_edit', resource: @user %>
      </div>
    <% end %>
  </div>
</div>
<%= render 'shared/musicposts_index', musicposts: @musicposts, user_page: true %>
