<div class="musicpost_stats">
  <div class="musicpost_stat">
    <i class="fas fa-heart"></i>
    <div class="favorite_count_<%= musicpost.id %>">
      <%= musicpost.favorites.count %>
    </div>
  </div>
  <div class="musicpost_stat">
    <i class="fas fa-comments"></i>
    <%= musicpost.comments.count %>
  </div>
</div>
