@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #252525;
  font-weight: 400;
  padding-top: 50px;
  background-color: #F2F2F2;
  position: relative;
}

main{
  .container{
    background-color: white;
    min-height: calc(100vh - 50px);
  }
}

h2 {
  margin-bottom: 15px;
}

/*=== 1.COMMON ===*/
.container {
  width: 100%;
}
@media (min-width: 480px) {
  .container{
    width: 450px;
  }
}
@media (min-width: 768px) {
  .container{
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container{
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container{
    width: 1170px;
  }
}

/*=== 2.HEADER ===*/
header{
  display: flex;
  font-weight: 700;
  #logo {
    padding: 0 20px;
    background-color: white;
  }
  img{
    width: 50px;
  }
  input{
    margin-top: 7px;
    margin-bottom: 0;
  }
}

/*=== 3.FORM ===*/
.field{
  display: flex;
  flex-flow: column;
  &.require{
    & label::after{
      content: "*";
      color: red;
    }
  }
}
input, textarea, select{
  width: 500px;
  margin-bottom: 15px;
}
input[type="checkbox"]{
  display: inline;
  width: 20px;
}
input[type="submit"]{
  margin: 15px 0;
}

#error_explanation, .error_messages{
  color: red;
  h2{
    font-size: 15px;
  }
}

/*=== 4.PLAYER ===*/
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #F2F2F2;
  border-top: 1px solid #CECECE;
}
.player{
  display: flex;
  margin: 0 auto;
  padding: 7px;
  z-index: 10;
}
.audiojs{
  height: 100%;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;  
  -o-box-shadow: none;
  box-shadow: none;
  p{
    width: 26px;
    height: 26px;
    margin: 0px;
    cursor: pointer;
  }
  .play-pause {
    width: 26px;
    height: 26px;
    padding: 0;
    margin: 0 10px 0 0;
    background-color: #3A3A3A;
    border-radius: 14px;
  }
  .scrubber {
    position: relative;
    float: left;
    background: #5a5a5a;
    height: 4px;
    margin: 12px 0 0 0px;
    border-top: 0;
    border-left: 0px;
    border-bottom: 0px;
    overflow: hidden;
  }
  .progress {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 4px;
    width: 0px;
    background: #3A3A3A;
    z-index: 1;  
  }
  .loaded {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 4px;
    width: 0px;
    background: #DDDDDD;
  }
  .time{
    text-shadow: none;
    color: #666;
    em{
      padding: 0px 2px 0px 0px;
      color: #666;
    }
    strong{
      padding: 0px 0px 0px 2px;
    }
  }
}
