<footer class="fixed-bottom">
  <div class="container">
    <div class ="player">
      <audio preload="auto"></audio>
      <div class="music_information">
        <div class="title"></div>
        <div class="upload_user"></div>
      </div>
    </div>
  </div>
</footer>
