<div class="row">
  <div class="col-md-12 library_tab tab">
    <ul>
      <li class="favorites_list"><%= link_to "Favorite", favorites_path %></li>
      <li class="following_list"><%= link_to "Following", '' %></li>
      <li class="followers_list"><%= link_to "History", '' %></li>
    </ul>
  </div>
</div>